* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 247, 234);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(24, 8, 82);
    color: rgb(247, 247, 234);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    color:rgba(211, 211, 211, 0.862)

}

header section ul{

}

header section ul li {
    display: inline-block;
    margin-left: 25px;
    color: rgb(247, 247, 234);
    
}   

.aboutmetitle {
    display: inline-block;
    font-size: 300%;
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 4%;
    color: rgb(76, 76, 121);
    float: left;
}

.aboutmepara {
    display: flex;
    inline-size: 600px;
    overflow-wrap: break-word;
    float: right;
    margin: 3%;
    font-family: Helvetica, sans-serif;
    color:rgb(24, 8, 82);
    font-size: 25px;
    border: solid;
    border-color: rgb(76, 76, 121);
    border-width: 5px;
    padding: 5px;
    background:linear-gradient(rgb(247, 247, 234), rgb(76, 76, 121))
}

.aboutmepic{
    margin: 6px;
    height: 100%;
    width: 100%;
}

footer p {
    background-color: rgb(24, 8, 82);
    box-sizing: border-box;
    color: rgb(247, 247, 234);
    text-align: center;
    font-size: 30px;
    padding: 3%;
}